[submodule "nvim/nvim"]
	path = nvim/nvim
	url = https://github.com/ayamir/nvimdots
[submodule "nvimdots"]
	path = nvimdots
	url = https://github.com/ayamir/nvimdots
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
